<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css"> 
    <title>Quran My Mood</title>
    <script>
        function redirectToResults() {
            const mood = document.getElementById('mood').value;
            if (!mood) {
                alert('Please select a mood.');
                return;
            }

            // Redirect to the results page with the selected mood as a query parameter
            window.location.href = `result.html?mood=${mood}`;
        }
    </script>
</head>
<body>
    <h1>Quran My Mood</h1>
    <form id="mood-form" onsubmit="event.preventDefault(); redirectToResults();">
        <label for="mood">What are you feeling?</label>
        <select name="mood" id="mood">
            <option value="">Select a mood</option>
            <option value="anxiety">Anxiety</option>
            <option value="fear">Fear</option>
            <option value="sadness">Sadness</option>
            <option value="anger">Anger</option>
            <option value="joy">Joy</option>
            <option value="reassurance">Reassurance</option>
        </select>
        <input type="submit" value="Get Verse">
    </form>
    
    <footer id="site-footer">
        <p id="footer-email">For any issues and suggestions, contact <a href="mailto:m.umar.py3@gmail.com" class="email-link">m.umar.py3@gmail.com</a></p>
    </footer>
</body>
</html>

