<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Quran My Mood</title>
</head>
<body>
    <h1>Quran My Mood</h1>
    <form action="/" method="POST">
        <label for="mood">What are you feeling?</label>
        <select name="mood" id="mood">
            <option value="anxiety">Anxiety</option>
            <option value="fear">Fear</option>
            <option value="sadness">Sadness</option>
            <option value="anger">Anger</option>
            <option value="joy">Joy</option>
            <option value="reassurance">Reassurance</option>
        </select>
        <input type="submit" value="Get Verse">
    </form>

    <footer id="site-footer">
        <p id="footer-email">For any issues and suggestions, contact <a href="mailto:m.umar.py3@gmail.com" class="email-link">m.umar.py3@gmail.com</a></p>
    </footer>
</body>
</html>